body {
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
}

h1 {
  margin: 20px;
}

.register-box, .filter-box {
  margin: 20px;
}

input, select {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 15px;
  background: #00c6ff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card {
  background: #1e2a38;
  margin: 20px auto;
  padding: 15px;
  width: 80%;
  border-radius: 10px;
  text-align: left;
}

.card h3 {
  color: #00c6ff;
}